/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos del encabezado */
header {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* Estilos del área de héroe */
.hero {
    background-image: url('imagen-hero.jpg'); /* Agrega tu imagen de fondo aquí */
    background-size: cover;
    color: white;
    text-align: center;
    padding: 100px 0;
}

.hero h2 {
    font-size: 2rem;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff6600;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: bold;
}

/* Estilos de la sección de noticias */
.noticias {
    padding: 40px;
}

.noticias h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.noticias article {
    margin-bottom: 40px;
}

.noticias h3 {
    font-size: 1.2rem;
}

.noticias a {
    text-decoration: none;
    color: #ff6600;
}

/* Estilos del pie de página */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}
